:root {
  --black: #373737;
  --primary: #ff8e3c;
  --white: #ffffff;
  --grey: #848199;
  --red: #fa513a;
  --grey-2: #a3a3a3;
  --bg: #f5f5fa;
  --headline2: 600 1.75rem/normal Poppins;
  --headline3: 600 1.25rem/1.375rem Poppins;
  --button: 400 0.875rem/1rem Poppins;
  --headline1: 600 3.5rem/normal Poppins;
  --body1-regular: 400 1rem/1.5rem Poppins;
  --body1-bold: 700 1rem/1.5rem Poppins;
  --body2-bold: 700 0.875rem/1.5rem Poppins;
  --body2-regular: 400 0.875rem/1.5rem Poppins;
  --caption-regular: 400 0.75rem/1rem Poppins;
  --caption-bold: 600 0.75rem/1rem Poppins;

}

/*BODDY*/

body {
  color: var(--white);
  background-color: var(--primary);
  font: var(--headline2);
  background: var(--bg);
}

.container {
  color: black;
}



.container-card {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  max-width: 1260px;
  width: 100%;
  background-color: white;
  border-radius: 16px;
  font-family: arial;
  font-weight: bold;
}

.card-month {
  font-size: 16px;
  font-weight: 100;
  color: black;
  
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-orange {
  background-color: var(--primary);
  font-size: medium;
  transform: translateY(-36px);
  box-shadow: 0px 17px 12px 0px var(--grey-2);
}


.card {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 334px;
  padding:0 34px 34px;
  border-radius: 20px;
  margin-right: 20px;
  font-size: medium;
  box-sizing: border-box;
  position: relative;
}

.card-price {
  margin: 0;
  padding-bottom: 20px;
  padding-top: 50px;
  font-size: 34px;
}


.card-plan {
  margin: 0;
  padding-bottom: 18px;
  font-size: xx-large;
  font-weight: bold;
}

.card-icon{
  width: 5%;
}

.card-description {
  margin: 0;
  padding-bottom: 10px;
}

.card-item1 {
  margin: 0;
  padding-bottom: 10px;
}

.card-item2 {
  margin: 0;
  padding-bottom: 10px;
}

.card-item3 {
  margin: 0;
  padding-bottom: 50px;
  opacity: 0.3;
}

.card-button {
 width: 100%;
  padding: 14px 37px 14px 37px;
  background-color: #ffa50030;
  border-radius: 20px;
  border: none;
  color: var(--primary);
  font-weight: bolder;
  cursor: pointer;
}

.card-button-orange {
  width: 100%;
  padding: 14px 37px 14px 37px;
  background-color: var(--black);
  border-radius: 20px;
  color: var(--white);
  border: none;
  cursor: pointer;
  font-weight:bolder;
}

.card-label{
  background-color: rgba(255, 255, 255, 0.801);
  padding: 8px 14px;
  border-radius: 10px;
  font-size: small;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
  font-style: normal;
  position: absolute;
  top: 10px;
  right: 10px;
}



.container {
  color: black;
}



.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1260px;
  width: 100%;
}

